.p{
    color:light;
}
header {
    display: flex;
    height: 80px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .brand-logo {
    font-size: 24px;
    font-weight: 600;
    color: #000;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
  }

  .title{
    color:white;
    text-align: right;
  }
  .spacer {
    flex: 10 10 auto;
  }
  img{
height: 80%;
  }
  